[Unit]
Description=Guard Server Management
After=network.target

[Service]
ExecStart=/usr/local/sbin/guard server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
