name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16.3
        token: ${{ secrets.GO_TOKEN }}
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v ./...
    - name: go-cross-build
      uses: thatisuday/go-cross-build@v1.1.0
      with:
       platforms: linux/386,linux/amd64,linux/arm64
